body {
  margin: 0;
}

.broadcast {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(10, 10, 10);
  color: white;
  font-family: 'Roboto', sans-serif;

  /* may need to be a PR to svelte-modal */
  & .svelte-modal:focus {
    outline: none;
  }

  & .video-full {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  & select {
    padding: 8px;
    font-size: 16px;
    max-width: 100%;
  }

  & button {
    color: white;
    background: none;
    border: none;
    padding: 0;
    display: block;
    opacity: 0.7;
    font-size: 16px;

    &:focus {
      outline: none;
    }

    &:hover {
      opacity: 1;
    }
  }

  & button:hover,
  & a:hover {
    cursor: pointer;
  }

  & .volume-meter {
    background: rgba(0, 0, 0, 0.7);
  }

  & .audio-input-controls {
    margin: 10px;
    display: inline-block;
    position: relative;

    & .audio-input-small,
    & .activate-next-audio-input {
      background: rgba(85, 85, 85, .5);
    }

    & .active-audio-inputs,
    & .audio-input-master {
      display: inline-block;
    }

    & .audio-input-master,
    & .activate-next-audio-input {
      margin-left: -4px;
      border: 4px solid rgba(85, 85, 85, 1);
    }

    & .activate-next-audio-input,
    & .audio-input-small {
      padding: 5px;
    }

    & .active-audio-inputs {
      padding: 4px 0; /* padding to make the height match its bordered sibling */
    }

    & .audio-input-master {
      display: inline-block;
    }

    & .activate-next-audio-input {
      position: absolute;
      left: 100%;
      top: 4px;
    }
  }
}

.md-settings {

  $color: $0 {
    color: #4C86AF;
  }

  $border: $width {
    border-bottom: $width solid #C8C7CC;
  }

  & svg {
    fill: currentColor;
  }

  /* TODO: enhance range with color for progress and a marker at the initial value */
  & input[type="range"]::track {
    border: 0;
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0;
    background: #A5B9D6;
    border-radius: 2px;
  }

  & input[type="range"]::thumb {
    background: #4C86AF;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-top: -4px;
  }

  & input[type="range"]:focus {
    outline: none;
  }

  & > header,
  & > .settings-group {
    padding: 16px;
  }

  & > header {
    $border: 2px;

    & > h3 {
      $color: '';
      font-weight: bold;
      font-size: 20px;
      margin: 0 16px 0 0;
      flex: 1;
    }

    & > .left-icon {
      $color: '';
    }
  }

  & > .settings-group {
    $border: 1px;
    max-width: 768px;
    margin: 0 auto;

    & > h4 {
      $color: '';
      font-weight: bold;
      font-size: 15px;
      margin: 8px 0 24px 40px;
    }

    & > fieldset {
      border: 0;
      margin: 0;
      padding: 0;
    }

    & > fieldset > .setting,
    & > .setting {

      &:not(:last-child) {
        padding-bottom: 24px;
      }

      & > .main {
        margin: 0 40px;
        flex: 1;
        max-width: 275px;

        & > label {
          font-size: 17px;
          font-weight: bold;
        }

        & > p {
          margin: 0;
          margin-top: 4px;
          font-size: 15px;
          color: rgba(0, 0, 0, 0.6);
        }

        & > input,
        & > select {
          margin-top: 8px;
          width: 100%;
        }
      }

      & > .left-icon + .main {
        margin-left: 0;
      }

      & > .input-switch {
        margin-top: 6px;
      }
    }
  }

  & > header,
  & > .settings-group > .setting,
  & > .settings-group > fieldset > .setting {
    position: relative;
    display: flex;

    & > .control {
      $color: '';
    }

    & > .left-icon,
    & > .controls > :not(:last-child) {
      margin-right: 16px;
    }

    & > .left-icon {
      align-self: start;
    }
  }
}
